!!! 5
%html{lang: 'en'}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'IE=edge,chrome=1', 'http-equiv' => 'X-UA-Compatible'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    %meta{name: 'twitter:card', content: 'summary'}
    %meta{name: 'twitter:site', content: '@nickawalsh'}

    %meta{property: 'og:type', content: 'website'}
    %meta{property: 'og:url', content: 'http://nick-walsh.com'}
    %meta{property: 'og:title', content: 'Nick Walsh :: Portfolio'}
    %meta{property: 'og:image', content: 'http://nick-walsh.com/social.jpg'}
    %meta{property: 'og:description', content: 'Front-end developer and design director at Envy'}

    %link{rel: 'shortcut icon', type: 'image/x-icon', href: '/favicon.ico'}
    %link{rel: 'apple-touch-icon', href: '/apple-touch-icon.png'}

    %title Nick Walsh :: Portfolio
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag '//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600'

  %body
    %main{role: 'main'}= yield
    = javascript_include_tag 'application'
